@model IEnumerable<GCD0804TodoManagement.Models.Todo>
@{
	ViewBag.Title = "Index";
}

<h2>Index of TodoesController</h2>

<div class="form-group">
	@Html.ActionLink("Add new Todo", // <-- Link text
						 "Create", // <-- Action Method Name
						 "Todoes", // <-- Controller Name
						 null, // <-- Route value
						 new { @class = "btn btn-info" } // <-- htmlArguments
						 )
</div>

@using (Html.BeginForm("Index", "Todoes", FormMethod.Get))
{
<div class="form-group">
	@Html.TextBox("searchString", "")
	<button type="submit"><i class="fa fa-search"></i></button>
</div>
}

<div class="form-group">
	@Html.ActionLink("Report Todoes by Category Name", // <-- Link text
						 "ReportCategoryByName", // <-- Action Method Name
						 "Todoes", // <-- Controller Name
						 null, // <-- Route value
						 new { @class = "btn btn-default" } // <-- htmlArguments
						 )
</div>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Description</th>
			<th scope="col">Category</th>
			<th scope="col">Due Date</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var todo in Model)
		{
			<tr>
				<th scope="row">@todo.Id</th>
				<td>@todo.Description</td>
				<td>@todo.Category.Name</td>
				<td>@todo.DueDate.ToString("dd/MMM/yyyy")</td>
				<td>
					@Html.ActionLink("Details", // <-- Link text
								 "Details", // <-- Action Method Name
								 "Todoes", // <-- Controller Name
								 new { id = todo.Id }, // <-- Route value
								 new { @class = "btn btn-info" } // <-- htmlArguments
								 )
					@Html.ActionLink("Edit", // <-- Link text
													 "Edit", // <-- Action Method Name
													 "Todoes", // <-- Controller Name
													 new { id = todo.Id }, // <-- Route value
													 new { @class = "btn btn-default" } // <-- htmlArguments
												 )

					@Html.ActionLink("Delete", // <-- Link text
													 "Delete", // <-- Action Method Name
													 "Todoes", // <-- Controller Name
													 new { id = todo.Id }, // <-- Route value
													 new { @class = "btn btn-danger" } // <-- htmlArguments
												 )
				</td>
			</tr>
		}
	</tbody>
</table>